@model BidingApp.Listing;
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> userManager


@{
    ViewData["Title"] = "Details";
}

@* 


<div class="mx-auto w-full max-w-2xl bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <img src="~/Images/@Model.ImgPath" class="p-8 rounded-t-lg" src="/docs/images/products/apple-watch.png" alt="prod image" />
        
    <div class="px-5 pb-5">

@if(User.Identity.IsAuthenticated)
{
    @if(Model.IsSold ==true)
    {
        @foreach(var bid in Model.Bids)
        {
            @if(bid.Price == Model.Price)
            {
                @if(bid.IdentityUserId == userManager.GetUserId(User))
                {
                            
            <h5 class="text-xl font-semibold tracking-tight text-green-600">


Congratulations, you are the winner!</h5>
                }
                else if (userManager.GetUserId(User) == Model.User.Id)
                {
                                
            <h5 class="text-xl font-semibold tracking-tight text-gray-900 dark:text-white">


                    @bid.User.UserName is the winner!</h5>
                }
                else
                {
                                
            <h5 class="text-xl font-semibold tracking-tight text-gray-500 dark:text-gray-400">


                    Bidding is closed!</h5>
                }
            }
        }
    }
}

            </h5>
            <h5 class="capitalize text-xl font-semibold tracking-tight text-gray-900 dark:text-white">@Model.Title</h5>
                        <h5 class="text-md tracking-tight text-gray-900 dark:text-white">@Model.Description</h5>
            <img src="~/Images/@Model.ImgPath" style="width: 100%; max-height: 60vh;" />
        <div class="flex  items-start justify-between mt-2.5 mb-5">
            <div class="w-4/5 flex items-center space-x-1 rtl:space-x-reverse">
              <form asp-action="AddBid" method="post" class="w-full flex flex-col gap-2">

     <div class="flex items-center">
            <label for="bid-price" class="w-fit block mr-2  font-medium text-gray-900 dark:text-white">Bid: $</label>
            <input type="number" name="BidPrice" id="bid-price" class="flex-1 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" placeholder="@Model.Price.ToString("N2")" />
        </div>
<input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
<button class="self-center text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Start Bidding</button>
              </form> 
            </div>
            <div class="text-xs bg-blue-100 text-blue-800 font-semibold px-2.5 py-0.5 rounded dark:bg-blue-200 dark:text-blue-800 ms-3">
                <p class="font-semibold w-full" style="font-size:8px">Bids submitted: </p>
                 <p class="text-center">@Model.Bids.Count</p>
                </div>
        </div>
        <div class="flex items-center justify-between">
            <span class="text-3xl font-bold text-gray-900 dark:text-white">$599</span>
        </div>
    </div>
</div> *@



@if(User.Identity.IsAuthenticated)
{
    @if(Model.IsSold ==true)
    {
        @foreach(var bid in Model.Bids)
        {
            @if(bid.Price == Model.Price)
            {
                @if(bid.IdentityUserId == userManager.GetUserId(User))
                {
                    <h5>Congratulations, you are the winner!</h5>
                }
                else if (userManager.GetUserId(User) == Model.User.Id)
                {
                    <h5>@bid.User.UserName is the winner!</h5>
                }
                else
                {
                    <h5>Bidding is closed!</h5>
                }
            }
        }
    }
}

<h4 style="text-align:center">@Model.Title</h4>
<div class="container" style="background-color: rgba(138, 129, 133, 0.6); margin-top: 50px; margin-bottom: 50px; padding: 20px; border-radius:10px;">
    <div class="row">
        <div class="col col-xs-6 col-lg-5">
            <img src="~/Images/@Model.ImgPath" style="width: 100%; max-height: 60vh;" />
        </div>
        <div class="col col-xs-6 col-lg-7">           
            <div>@Model.Description</div>
            @if(User.Identity.IsAuthenticated)
            {
                <form asp-action="AddBid" method="post">
                    <div>
                        Bid: $ <input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")"/>
                        <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)"/>
                        <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
                        <input type="submit" class="btn btn-primary">
                    </div>
                </form>
                <p>Bids submitted: @Model.Bids.Count</p>
                <br>
                @if(userManager.GetUserId(User) == Model.User.Id)
                {
                    @foreach(var bid in Model.Bids)
                    {
                        <ul style="list-style-type: none;">
                            @bid.User.UserName bidded $@bid.Price.ToString("N2").
                        </ul>
                    }
                }
            }
            else
            {
                <div>
                    Bid: $ <input type="number" min="@Model.Price" step="1" name="Price" placeholder="@Model.Price.ToString("N2")" />
                    <input disabled type="submit" class="btn btn-primary">
                </div>
                <p>Bids submitted: @Model.Bids.Count</p>
            }

            <div>Listed by: @Model.User.UserName</div>

            @if (User.Identity.IsAuthenticated)
            {
                @if (userManager.GetUserId(User) == Model.User.Id)
                {
                    @if(Model.IsSold == false)
                    {
                        <a asp-action="CloseBidding" asp-route-id="@Model.Id">Close bidding</a>
                    }
                    
                }
            }
        </div>
    </div>
</div>

<br>

@if (User.Identity.IsAuthenticated)
{
    <div class="container">
        <form asp-action="AddComment" method="post">
            <h6>Add comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width: 40%; vertical-align:top;"></textarea>
            <input type="hidden" name="IdentityUserId" class="form-control" value="@userManager.GetUserId(User)" />
            <input type="hidden" name="ListingId" class="form-control" value="@Model.Id" />
            <input type="submit" class="btn btn-primary" style="display: inline-block; margin-top:10px;">
        </form>
    </div>
}
else
{
    <div class="container">       
            <h6>Add comment</h6>
            <textarea class="form-control" aria-label="With textarea" name="Content" style="width: 40%; vertical-align:top;"></textarea>          
            <input type="submit" disabled class="btn btn-primary" style="display: inline-block; margin-top:10px;">       
    </div>   
}
<br>
<div class="container">
    <h6>Comments</h6>
    @foreach(var comment in Model.Comments)
    {
        <div style="border:1px solid lightgray; margin: 10px; padding: 10px; border-radius: 10px; width: 40%;">
            <p>@comment.Content - @comment.User.UserName</p>
        </div>
    }
</div>