@model IEnumerable<BidingApp.Listing>
@using Microsoft.AspNetCore.Identity;
@inject UserManager<IdentityUser> userManager;

@{
    ViewData["Title"] = "Bids Listings";
}
<div class="flex justify-between">

<h1 class="text-xl ">Active Listings...</h1>
<a asp-action="Create" class="text-white bg-green-600 hover:bg-[#2557D6]/90 focus:ring-4 focus:ring-[#2557D6]/50 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#2557D6]/50 me-2 mb-2">
Create New Listing
</a>
</div>
@if(Model.Any())
{
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    @* @Html.DisplayNameFor(model => model.Title) *@
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                     @* @Html.DisplayNameFor(model => model.Description) *@
                Description
                </th>
                <th scope="col" class="px-6 py-3">
                     @* @Html.DisplayNameFor(model => model.Price) *@
                     Price
                </th>
                <th scope="col" class="px-6 py-3">
                    @* @Html.DisplayNameFor(model => model.ImgPath) *@
                    Image
                </th>
                <th scope="col" class="px-6 py-3">
                   @* @Html.DisplayNameFor(model => model.IsSold)  *@
                   Status
                </th>
                <th scope="col" class="px-6 py-3">
                   @* @Html.DisplayNameFor(model => model.IdentityUserId)  *@
                   Owner
                </th>
               
<th scope="col" class="px-6 py-3">
                    Actions
                </th>
               
            </tr>
        </thead>
        
        <tbody>
            @foreach(var listing in Model){

            <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                          @Html.DisplayFor(modelItem => listing.Title)
                </th>
                <td class="px-6 py-4">
                          @Html.DisplayFor(modelItem => listing.Description)

                </td>
                <td class="px-6 py-4">
                          @Html.DisplayFor(modelItem => listing.Price)
                </td>
                <td class="px-6 py-4">
                    <img src="/@listing.ImgPath" class="w-10 h-10"/>
                </td>
                <td class="px-6 py-4">
                          @Html.DisplayFor(modelItem => listing.IsSold)
                </td>
                <td class="px-6 py-4">
                          @Html.DisplayFor(modelItem => listing.IdentityUserId)
                </td>
                <td class="px-6 py-4">
                    <div class="flex justify-between w-[20px]">

                    <a href="#" class="font-medium text-white bg-blue-600 rounded px-3 py-[3px]">Edit</a>
                    <a href="#" class="font-medium text-white bg-red-400 rounded px-2 py-[3px]">Delete</a>
                    </div>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
}
@if(!Model.Any())
{
    <p>No Available Listings in the current time.</p>
}